* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: blue;
}

ul {
    list-style: none;
}    

img {
    max-width: 100%;
}    

/* navbar */
.navbar {
    background-color: #fff;
    padding: 20px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .main-menu  ul {
    display: flex;
}

.navbar ul li a  {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}
.navbar ul li a:hover{
    color: rgb(171, 124, 218);
}


.hero {
    margin-bottom: 50px;
}    
.hero .container {
    background: url(/images/daylight-environment-forest-459225.jpg) no-repeat ;
    background-size:contain;
    background-position: center bottom;
    height: 773px;

}    
.hero .hero-content{
    width: 70%;
}    
.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}    
.video {
    padding: 10px 0 40px;
}
.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-preview {
    margin-bottom: 16px;
}
/* testimonials */
.testimonials {
    padding:40px 0;
}
.testimonials .testimonials-heading {
    width: 700px;
    margin-bottom: 40px;
}

.testimonials-grid{
    /* display: flex; qilsaham boladi */
    display: grid;
    grid-template-columns:  repeat(3, 1fr) ;/* toldirib turadi bu esa razmer tanledi100px 150px 200px; */
    gap: 27px;
    padding: 20px;
}
.testimonials .card p:nth-child(1){
    color: #ce3f3f;
    font-weight: lighter;
}

.testimonials .card p:nth-child(2){
    margin-top: 30px;
    font-weight: bold;
}

.testimonials .card p:nth-child(3){
    text-align: center;
    margin-top: 13px;
    font: 1em sans-serif;
}
/* Pricing */
.pricing-grid{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 30px;
    margin-top: 30px;
}
.pricing .pricing-card-subheading {
    margin-bottom: 30px;
}
.pricing .pricing-card-price {
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #a99898;
}
.pricing ul {
    margin-bottom: 30px;
}
.pricing ul li {
    margin-bottom:  20px;
}
.pricing ul li i {
    margin:0 10;
}
.pricing-footer{
    margin-top: 20px;
}

/* FAQ */
.faq {
    padding:40px 0;
}
.faq-group {
    border-bottom: 1px solid #732e2e;
    padding: 20px;
}
.faq .faq-group .faq-group-header {
    padding: 20px 0;
    margin-bottom: 15px ;
    position: relative;
}
.faq .faq-group .faq-group-header h4 {
    font-weight: 600;
    width: 95%;
}
.faq .faq-group .faq-group-header i {
    position: absolute;
    right: 0;
    top: 35px;
    font-size: 1.3rem;
    cursor: pointer;
}
.faq .faq-group .faq-group-body {
    display: none;
}
.faq .faq-group .faq-group-body.open {
    display: block;
}
.faq ul.faq-menu {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
}
.faq ul.faq-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.faq ul.faq-menu li.active {
    background-color: #44ce3f;
    color: #fff;
    text-align: center ;
}
/* Footer */
.footer{
    padding:40px 0;
}
.footer h4{
    margin-bottom: 10px;
}
.footer ul li {
    line-height: 2.5;
}
.footer a {
    color: #ccc;
}
.footer i {
    font-size: 1,5rem;
    margin-right: 10px;
    cursor:grab;
}
.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.footer .card{
    margin: 20px 30px 30px 0 ;
}
.footer input[type='email'] {
    width: 100px;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin: 20px 10;
}
/* utility cases */
.container { 
    background:#000;
    color: #fff;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
/* card */
.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}
/* button */
.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: lightsalmon;
    color: rgb(128, 128, 128);
    text-decoration: none;
    font-weight: 600;
    border: none;
    border-radius: 33px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    opacity: 0.8s;
}
.btn-dark{
    background: black;
    color: #fff;
}
.btn-primary{
    background:rgb(14, 14, 208);
    color: #fff;
}
/* Text clases */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}
.text-xl {
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 40px 0 20px;
}
.text-lg {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 40px 0 20px;
}
.text-m {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 20px 0 20px;
}
.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 20px 0 20px;
}
/* background black */
.bg-black{
    background: #000;
    color: #ce3f3f;
}
.bg-primary{
    background: gray;
    color: black;
}
.bg-grey{
    background: #732e2e;
    color: #44ce3f;
}
.bg-light{
    background: #d2c2c2;
    color: #829a82;
}
.bg-red{
    background: #893c3c;
    color: #5c3fce;
}
